<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <!-- Basic Checkbox start -->
      <section class="basic-checkbox" id="basic-checkbox">
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">Simple Checkboxes</h4>
          </div>
        </div>
        <div class="row" matchHeight="card">
          <div class="col-xl-6 col-lg-12" *blockUI="'basicTable'; message: 'Loading'">
            <m-card [options]="options" (reloadFunction)="reloadBasicTable($event)">
              <ng-container mCardHeaderTitle>
                Basic Table
              </ng-container>
              <ng-container mCardBody>
                <div class="checkboxsas">
                  <label>
                    <input type="checkbox" value="">
                    I am unchecked Checkbox
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="" checked>
                    I am checked Checkbox
                  </label>
                </div>
                <div class="checkbox disabled">
                  <label>
                    <input type="checkbox" value="" disabled>
                    I am disabled Checkbox
                  </label>
                </div>
                <div class="checkbox disabled">
                  <label>
                    <input type="checkbox" value="" disabled checked>
                    I am checked &amp; disabled Checkbox
                  </label>
                </div>
              </ng-container>
            </m-card>
          </div>
          <div class="col-xl-6 col-lg-12" *blockUI="'basicRightCheckbox'; message: 'Loading'">
            <m-card [options]="options" (reloadFunction)="reloadBasicRightCheckbox($event)">
              <ng-container mCardHeaderTitle>
                Basic Right Checkbox
              </ng-container>
              <ng-container mCardBody>
                <p> Simple Right side checkboxes with <code>.right-checkbox</code> wrapper class.</p>
                <div class="right-checkbox">
                  <label>
                    <input type="checkbox" value="">
                    I am unchecked Checkbox
                  </label>
                </div>
                <div class="right-checkbox">
                  <label>
                    <input type="checkbox" value="" checked>
                    I am checked Checkbox
                  </label>
                </div>
                <div class="right-checkbox disabled">
                  <label>
                    <input type="checkbox" value="" disabled>
                    I am disabled Checkbox
                  </label>
                </div>
                <div class="right-checkbox disabled">
                  <label>
                    <input type="checkbox" value="" disabled checked>
                    I am checked &amp; disabled Checkbox
                  </label>
                </div>
              </ng-container>
            </m-card>
          </div>
        </div>
        <div class="row" matchHeight="card">
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Custom Checkbox</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <p>Add <code>.custom-input.custom-checkbox</code> as a single wrapper &amp; add
                    <code>&lt;span class="custom-control-indicator"&gt;&lt;/span&gt;</code>
                    for better output. Also use <code>.custom-control-description</code> class for checkbox
                    description.</p>
                  <div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                    </div>
                  </div>
                  <div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" checked name="customCheck" id="customCheck2">
                      <label class="custom-control-label" for="customCheck2">Custom checkbox checked</label>
                    </div>
                  </div>
                  <div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="customCheck" disabled id="customCheck3">
                      <label class="custom-control-label" for="customCheck3">Custom checkbox disabled</label>
                    </div>
                  </div>
                  <div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" checked name="customCheck4" id="customCheck4"
                        disabled>
                      <label class="custom-control-label" for="fixed-layout">Custom checkbox checked &amp;
                        disabled</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Custom Right Checkbox</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <p>Add <code>.custom-input.custom-checkbox</code> as a single wrapper &amp; add
                    <code>&lt;span class="custom-control-indicator"&gt;&lt;/span&gt;</code>
                    for better output &amp; wrap with <code>right-checkbox</code> for right aligned checkbox.</p>
                  <div class="right-checkbox">
                    <div class="custom-control custom-checkbox pl-0">
                      <input type="checkbox" class="custom-control-input" name="customCheckRight"
                        id="customCheckRight1">
                      <label class="custom-control-label w-100" for="customCheckRight1">Custom checkbox</label>
                    </div>
                  </div>
                  <div class="right-checkbox">
                    <div class="custom-control custom-checkbox pl-0">
                      <input type="checkbox" class="custom-control-input" name="customCheckRight" id="customCheckRight2"
                        checked>
                      <label class="custom-control-label w-100" for="customCheckRight2">Custom checkbox checked</label>
                    </div>
                  </div>
                  <div class="right-checkbox disabled">
                    <div class="custom-control custom-checkbox pl-0">
                      <input type="checkbox" class="custom-control-input" name="customCheckRight" id="customCheckRight3"
                        disabled>
                      <label class="custom-control-label w-100" for="customCheckRight3">Custom checkbox disabled</label>
                    </div>
                  </div>
                  <div class="right-checkbox disabled">
                    <div class="custom-control custom-checkbox pl-0">
                      <input type="checkbox" class="custom-control-input" checked name="customCheckRight"
                        id="customCheckRight4" disabled="">
                      <label class="custom-control-label w-100" for="customCheckRight4">Custom checkbox checked &amp;
                        disabled</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Basic Checkbox end -->

      <!-- Basic Radio Buttons start -->
      <section class="basic-radios" id="basic-radios">
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">Simple Radio Buttons</h4>
          </div>
        </div>
        <div class="row" matchHeight="card">
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Basic Radio Buttons</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div class="radio">
                    <label>
                      <input type="radio" name="radio" value="">
                      I am unchecked Radio Button
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="radio" value="" checked>
                      I am checked Radio Button
                    </label>
                  </div>
                  <div class="radio disabled">
                    <label>
                      <input type="radio" name="radio" value="" disabled>
                      I am disabled Radio Button
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Basic Right Radio Buttons</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <p>Simple Radio Button with right align using <code>.right-radio</code> class.</p>
                  <div class="right-radio">
                    <label>
                      <input type="radio" name="radio1" value="">
                      I am unchecked Radio Button
                    </label>
                  </div>
                  <div class="right-radio">
                    <label>
                      <input type="radio" name="radio1" value="" checked>
                      I am checked Radio Button
                    </label>
                  </div>
                  <div class="right-radio disabled">
                    <label>
                      <input type="radio" name="radio1" value="" disabled>
                      I am disabled Radio Button
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" matchHeight="card">
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Custom Radio Buttons</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <p>Add <code>.custom-input.custom-radio</code> as a single wrapper &amp; add
                    <code>&lt;span class="custom-control-indicator"&gt;&lt;/span&gt;</code>
                    for better output. Also use <code>.custom-control-description</code> class for radio description.
                  </p>
                  <div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="customRadio" id="customRadio1">
                      <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                    </div>
                  </div>
                  <div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="customRadio" id="customRadio2" checked>
                      <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                    </div>
                  </div>
                  <div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="customRadio" id="customRadio3" disabled>
                      <label class="custom-control-label" for="customRadio3">Or toggle this other custom radio</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Custom Right Radio Buttons</h4>


              </div>
              <div class="card-content">
                <div class="card-body">
                  <p>Add <code>.c-input.c-radio</code> as a single wrapper &amp; add
                    <code>&lt;span class="c-indicator"&gt;&lt;/span&gt;</code>
                    for better output &amp; wrap with <code>right-radio</code> for right aligned radio.</p>
                  <div class="right-radio">
                    <div class="custom-control custom-radio pl-0">
                      <input type="radio" class="custom-control-input" name="customRadioRight" id="customRadioRight1">
                      <label class="custom-control-label w-100" for="customRadioRight1">Toggle this custom radio</label>
                    </div>
                  </div>
                  <div class="right-radio">
                    <div class="custom-control custom-radio pl-0">
                      <input type="radio" class="custom-control-input" name="customRadioRight" id="customRadioRight2"
                        checked>
                      <label class="custom-control-label w-100" for="customRadioRight2">Or toggle this other custom
                        radio</label>
                    </div>
                  </div>
                  <div class="right-radio disabled">
                    <div class="custom-control custom-radio pl-0">
                      <input type="radio" class="custom-control-input" name="customRadioRight" id="customRadioRight3"
                        disabled>
                      <label class="custom-control-label w-100" for="customRadioRight3">Or toggle this other custom
                        radio</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Basic Radio Buttons end -->

      <!-- Color Checkboxes start -->
      <section class="input-type-options">
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">Color Checkboxes</h4>
            <p>Add <code>.bg-COLOR</code> to span to set according to theme color.</p>
          </div>
        </div>
        <div class="row" matchHeight="card">
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Template Color Checkbox</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div>
                    <div class="d-inline-block custom-control custom-checkbox mr-1">
                      <input type="checkbox" class="custom-control-input bg-primary" name="colorCheck" id="colorCheck1">
                      <label class="custom-control-label" for="colorCheck1">Primary Checkbox</label>
                    </div>
                    <div class="d-inline-block custom-control custom-checkbox mr-1">
                      <input type="checkbox" class="custom-control-input bg-success" name="colorCheck" id="colorCheck2"
                        checked>
                      <label class="custom-control-label" for="colorCheck2">Success Checkbox</label>
                    </div>
                    <div class="d-inline-block custom-control custom-checkbox mr-1">
                      <input type="checkbox" class="custom-control-input bg-danger" name="colorCheck" id="colorCheck3">
                      <label class="custom-control-label" for="colorCheck3">Danger Checkbox</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Another Template color checkbox example</h4>


              </div>
              <div class="card-content">
                <div class="card-body">
                  <div>
                    <div class="d-inline-block custom-control custom-checkbox mr-1">
                      <input type="checkbox" class="custom-control-input bg-info" name="colorCheck" id="colorCheck4"
                        checked>
                      <label class="custom-control-label" for="colorCheck4">Information Checkbox</label>
                    </div>
                    <div class="d-inline-block custom-control custom-checkbox mr-1">
                      <input type="checkbox" class="custom-control-input bg-warning" name="colorCheck" id="colorCheck5">
                      <label class="custom-control-label" for="colorCheck5">Warning Checkbox</label>
                    </div>
                    <div class="d-inline-block custom-control custom-checkbox mr-1">
                      <input type="checkbox" class="custom-control-input bg-purple" name="colorCheck" id="colorCheck6">
                      <label class="custom-control-label" for="colorCheck6">Custom color purple</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Color Checkboxes end -->

      <!-- Color Radio start -->
      <section class="color-radio">
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">Custom Bootstrap Color Radio Buttons</h4>
            <p>Add <code>.bg-COLOR</code> to span to set according to theme color.</p>
          </div>
        </div>
        <div class="row" matchHeight="card">
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Template color Radio Button</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div>
                    <div class="d-inline-block custom-control custom-radio mr-1">
                      <input type="radio" class="custom-control-input bg-primary" name="colorRadio" id="colorRadio1">
                      <label class="custom-control-label" for="colorRadio1">Primary Radio</label>
                    </div>
                    <div class="d-inline-block custom-control custom-radio mr-1">
                      <input type="radio" class="custom-control-input bg-success" name="colorRadio" id="colorRadio2">
                      <label class="custom-control-label" for="colorRadio2">Success Radio</label>
                    </div>
                    <div class="d-inline-block custom-control custom-radio mr-1">
                      <input type="radio" class="custom-control-input bg-danger" name="colorRadio" id="colorRadio3">
                      <label class="custom-control-label" for="colorRadio3">Danger Radio</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Another Template color Radio example</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div>
                    <div class="d-inline-block custom-control custom-radio mr-1">
                      <input type="radio" class="custom-control-input bg-info" name="colorRadio" id="colorRadio4">
                      <label class="custom-control-label" for="colorRadio4">Information Radiobox</label>
                    </div>
                    <div class="d-inline-block custom-control custom-radio mr-1">
                      <input type="radio" class="custom-control-input bg-warning" checked name="colorRadio"
                        id="colorRadio5">
                      <label class="custom-control-label" for="colorRadio5">Warning Radiobox</label>
                    </div>
                    <div class="d-inline-block custom-control custom-radio mr-1">
                      <input type="radio" class="custom-control-input bg-pink" name="colorRadio" id="colorRadio6">
                      <label class="custom-control-label" for="colorRadio6">Custom color pink</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Color Radio end -->

      <!-- Inline Checkbox start -->
      <section class="inline-checkbox">
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">Inline Checkboxes</h4>
            <p>Add <code>.inline</code> class to the checkbox wrapper for inline checkbox.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Custom Inline Checkboxes</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div class="d-inline-block custom-control custom-checkbox mr-1">
                    <input type="checkbox" class="custom-control-input" name="colorCheck" id="checkbox1">
                    <label class="custom-control-label" for="checkbox1">Unchecked custom checkbox</label>
                  </div>
                  <div class="d-inline-block custom-control custom-checkbox mr-1">
                    <input type="checkbox" class="custom-control-input" name="colorCheck" checked id="checkbox2">
                    <label class="custom-control-label" for="checkbox2">Checked custom checkbox</label>
                  </div>
                  <div class="d-inline-block custom-control custom-checkbox mr-1">
                    <input type="checkbox" class="custom-control-input" name="colorCheck" id="checkbox3" disabled>
                    <label class="custom-control-label" for="checkbox3">Disabled custom checkbox</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Inline Checkbox end -->

      <!-- Inline Radio start -->
      <section class="inline-radio">
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">Inline Radio Buttons</h4>
            <p>Add <code>.inline</code> class to the radio wrapper.</p>
          </div>
        </div>
        <div class="row" matchHeight="card">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Custom Inline Radio</h4>


              </div>
              <div class="card-content">
                <div class="card-body">
                  <div class="d-inline-block custom-control custom-radio mr-1">
                    <input type="radio" class="custom-control-input" name="colorRadio" id="radio1">
                    <label class="custom-control-label" for="radio1">Unchecked custom radio</label>
                  </div>
                  <div class="d-inline-block custom-control custom-radio mr-1">
                    <input type="radio" class="custom-control-input" name="colorRadio" id="radio2" checked>
                    <label class="custom-control-label" for="radio2" checked>Checked custom radio</label>
                  </div>
                  <div class="d-inline-block custom-control custom-radio mr-1">
                    <input type="radio" class="custom-control-input" name="colorRadio" id="radio3" disabled>
                    <label class="custom-control-label" for="radio3" disabled>Disabled custom radio</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Inline Radio end -->

      <!-- Image Checkbox start -->
      <section class="image-checkbox">
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">Image Checkbox</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Default Image Checkbox</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <p>Add <code>.img-thumbnail</code> class to &lt;img&gt; tag after input type checkbox.</p>
                  <div class="form-group">
                    <label class="btn">
                      <input type="checkbox" name="chk1" id="item1" value="val1" class="hidden">
                      <img src="../../../assets/images/portrait/small/avatar-s-1.png" alt="..."
                        class="check img-thumbnail">
                    </label>
                    <label class="btn">
                      <input type="checkbox" name="chk2" id="item2" value="val2" class="hidden" checked>
                      <img src="../../../assets/images/portrait/small/avatar-s-2.png" alt="..." class="img-thumbnail">
                    </label>
                    <label class="btn">
                      <input type="checkbox" name="chk3" id="item3" value="val3" class="hidden">
                      <img src="../../../assets/images/portrait/small/avatar-s-3.png" alt="..."
                        class="check img-thumbnail">
                    </label>
                    <label class="btn">
                      <input type="checkbox" name="chk4" id="item4" value="val4" class="hidden">
                      <img src="../../../assets/images/portrait/small/avatar-s-4.png" alt="..." class="img-thumbnail">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Basic Image Checkbox</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <p>Add <code>.btn-COLORNAME</code> class to wrapper to use theme colors.</p>
                  <div class="form-group">
                    <label class="btn">
                      <input type="checkbox" name="chk5" id="item5" value="val1" class="hidden">
                      <img src="../../../assets/images/portrait/small/avatar-s-5.png" alt="..." class="img-thumbnail">
                    </label>
                    <label class="btn">
                      <input type="checkbox" name="chk6" id="item6" value="val2" class="hidden">
                      <img src="../../../assets/images/portrait/small/avatar-s-6.png" alt="..."
                        class="check img-thumbnail">
                    </label>
                    <label class="btn">
                      <input type="checkbox" name="chk7" id="item7" value="val3" class="hidden" checked>
                      <img src="../../../assets/images/portrait/small/avatar-s-7.png" alt="..." class="img-thumbnail">
                    </label>
                    <label class="btn">
                      <input type="checkbox" name="chk8" id="item8" value="val4" class="hidden">
                      <img src="../../../assets/images/portrait/small/avatar-s-8.png" alt="..." class="img-thumbnail">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Image Checkbox end -->
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
