<!----- start barchart------->
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
      <button nbButton (click)="ngOnInit()" class="  btn btn-primary"
      style="margin-right:10px ;">réinitialiser</button>
    </div>
    <div class="content-body">
      <!-- Bar Chart -->
      <section id="chartjs-bar-charts">
        <div class="row">
          <div class="col-12" *blockUI="'barCharts'; message: 'Loading'">
            <m-card [options]="options" (reloadFunction)="reloadBarCharts($event)">
              <ng-container mCardHeaderTitle>
                Bar charts
              </ng-container>
              <ng-container mCardBody>
                <div class="z">
                  <canvas class="barchart" height="400" baseChart [datasets]="barChartData" [labels]="barChartLabels"
                    [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
                    [chartType]="barChartType"></canvas>
                </div>
               </ng-container>
            </m-card>
          </div>
        </div>
      </section>
      <!-- End Bar charts-->

      <!-- line Chart -->
      <section id="chartjs-line-charts">
        <div class="row">
          <div class="col-12" *blockUI="'lineCharts'; message: 'Loading'">
            <m-card [options]="options" (reloadFunction)="reloadLineCharts($event)">
              <ng-container mCardHeaderTitle>
                Line Charts
              </ng-container>
              <ng-container mCardBody>
                <div class="card-block">
                  <div class="height-400">
                  <canvas  height="400" baseChart class="chart" [datasets]="lineChartsData" [labels]="lineChartsLabels"
                    [options]="lineChartsOptions" [colors]="lineChartsColors" [legend]="lineChartsLegend"
                    [chartType]="lineChartsType"></canvas>
                </div>
                </div>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>
      <!-- End line chart-->

      <!-- Area Line chart-->
      <section id="chartjs-arealine-charts">
        <div class="row">
          <div class="col-12">
            <m-card>
              <ng-container mCardHeaderTitle>
                Area Line charts
              </ng-container>
              <ng-container mCardBody>
                <div class="card-block">
                  <div class="height-400">
                  <canvas height="400" baseChart class="chart" [datasets]="areaChartData" [labels]="areaChartLabels"
                    [options]="areaChartOptions" [colors]="areaChartColors" [legend]="areaChartLegend"
                    [chartType]="areaChartType">
                  </canvas>
                </div>
                </div>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>
      <!-- End Area Line chart------->
      <!-- Line Stacked Area Chart -->
      <section id="chartjs-line-stacked-charts">
        <div class="row">
          <div class="col-12">
            <m-card>
              <ng-container mCardHeaderTitle>
                Line Stacked Area Chart
              </ng-container>
              <ng-container mCardBody>
                <!-- <div class="lineStackedArea"> -->
                  <div class="card-block">
                    <div class="height-400">
                  <canvas height="400" baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType">
                  </canvas>
                <!-- </div> -->
                </div>
                </div>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>
      <!-- End Line Stacked Area Chart -->
      <!-- Scatter Logx Chart -->
      <section id="chartjs-scatter-charts">
        <div class="row">
          <div class="col-12">
            <m-card>
              <ng-container mCardHeaderTitle>
                Scatter Logx Chart
              </ng-container>
              <ng-container mCardBody>
                <div class="card-block">
                  <div class="height-400">
                  <canvas height="400" id="scatter-chart"  baseChart class="chart" [datasets]="scatterChartData"
                    [labels]="scatterChartLabels" [options]="scatterChartOptions" [colors]="scatterChartColors"
                    [legend]="scatterChartLegend" [chartType]="scatterChartType"></canvas>
                </div>
                </div>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>
      <!-- End Scatter Logx Chart -->
      <!-- Pie Chart -->
      <section id="chartjs-pie-charts">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <h3>Pie Chart</h3>
                  <div class="piechart height-400">
                    <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" [labels]="pieChartLabels"
                      [chartType]="pieChartType" [colors]="pieChartColors"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Pie Chart -->
      <!-- Doughnut Chart -->
      <section id="chartjs-doughnut-charts">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <h3>Doughnut Chart</h3>
                  <div class="doughnutChart height-400">
                    <canvas baseChart [data]="doughnutChartData" [options]="doughnutChartOptions"
                      [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                      [colors]="doughnutChartColors"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Doughnut Chart -->
      <!-- Polar Chart -->
      <section id="chartjs-polar-charts">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content collapse show">
                <div class="card-body">
                  <h3>Polar Chart</h3>
                  <div class="polarchart height-400">
                    <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels"
                      [legend]="polarAreaLegend" [options]="polarChartOptions" [chartType]="polarAreaChartType"
                      [colors]="ploarChartColors"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Polar Chart -->
      <!-- Radar Chart -->
      <section id="chartjs-radar-charts">
        <div class="row">
          <div class="col-12">
            <div class="card radarChart">
              <div class="card-content collapse show">
                <div class="card-body">
                  <div class="height-400">
                    <h3>Radar Chart</h3>
                    <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions"
                      [labels]="radarChartLabels" [chartType]="radarChartType" [colors]="radarChartColors"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Radar Chart -->
    </div>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////-->
