<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row ">
    </div>
    <div class="content-body">
      <section class="row flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
              <div class="card-header border-0 pb-0">
                <div class="card-title text-center">
                  <img src="../../../../../assets/images/logo/logo-dark.png" alt="branding logo">
                </div>
                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Easily
                    Using</span></h6>
              </div>
              <div class="card-content">
                <div class="card-body text-center">
                  <a [routerLink]="" class="btn btn-social mb-1 mr-1 btn-outline-facebook"><span
                      class="la la-facebook"></span>
                    <span class="px-1">facebook</span> </a>
                  <a [routerLink]="" class="btn btn-social mb-1 btn-outline-google"><span
                      class="la la-google-plus font-medium-4"></span> <span class="px-1">google</span> </a>
                </div>
                <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1"><span>OR Using
                    Email</span></p>
                <div class="card-body pt-0">
                  <form class="form-horizontal">
                    <fieldset class="form-group floating-label-form-group">
                      <label for="user-name">User Name</label>
                      <input type="text" class="form-control" id="user-name" placeholder="User Name">
                    </fieldset>
                    <fieldset class="form-group floating-label-form-group">
                      <label for="user-email">Your Email Address</label>
                      <input type="email" class="form-control" id="user-email" placeholder="Your Email Address">
                    </fieldset>
                    <fieldset class="form-group floating-label-form-group mb-1">
                      <label for="user-password">Enter Password</label>
                      <input type="password" class="form-control" id="user-password" placeholder="Enter Password">
                    </fieldset>
                    <div class="form-group row">
                      <div class="col-sm-6 col-12 text-center text-sm-left pr-0">
                        <div class="custom-control custom-checkbox mb-1">
                          <input type="checkbox" class="custom-control-input" name="remember-me" id="remember-me">
                          <label class="custom-control-label" for="remember-me"> Remember Me</label>
                        </div>
                      </div>
                      <div class="col-sm-6 col-12 float-sm-left text-center text-sm-right"><a
                          [routerLink]="['/authentication/recoverPassword']" class="card-link">Forgot Password?</a>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-outline-info btn-block"><i class="feather ft-user"></i>
                      Register</button>
                  </form>
                </div>
                <div class="card-body pt-0">
                  <a [routerLink]="['/authentication/loginWithBg']" class="btn btn-outline-danger btn-block"><i
                      class="feather ft-unlock"></i>
                    Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
