<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <!-- gmaps services section start -->
      <section id="gmaps-services">
        <!-- Geolocation -->
        <div class="row">
          <div class="col-12" *blockUI="'geolocation'; message: 'Loading'">
            <m-card [options]="options" (reloadFunction)="reloadGeolocation($event)">
              <ng-container mCardHeaderTitle>
                Geolocation
              </ng-container>
              <ng-container mCardBody>
                <p class="card-text"><code>GMaps.geolocate</code> supports 4 functions:</p>
                <ul>
                  <li><code>success</code> (required): fires when geolocation has been successful</li>
                  <li><code>error</code> (required): fires when geolocation has not been done</li>
                  <li><code>not_supported</code> (required): fires when geolocation is not supported by the browser
                  </li>
                  <li><code>always</code> (optional): fires always after every scenario described above.</li>
                </ul>
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [scrollwheel]="null">
                </agm-map>
              </ng-container>
            </m-card>
          </div>
        </div>

        <!-- Geocoding -->
        <div class="row">
          <div class="col-12" *blockUI="'geocoding'; message: 'Loading'">
            <m-card [options]="options" (reloadFunction)="reloadGeocoding($event)">
              <ng-container mCardHeaderTitle>
                Geocoding
              </ng-container>
              <ng-container mCardBody>
                <p class="card-text">You can define either <code>address</code> or <code>lat</code> and
                  <code>lng</code>.
                  Also, you must define <code>callback</code>, which will use <code>results</code> of geocoding and
                  <code>status</code>.</p>

                <form>
                  <label for="address">Address:</label>
                  <div class="input-group mb-1">
                    <input autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                      #search [formControl]="searchControl">
                  </div>
                </form>

                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="null">
                  <agm-marker *ngFor="let m of markers; let i = index;" [latitude]="m.lat" [longitude]="m.lng"
                    [label]="m.label">
                  </agm-marker>
                </agm-map>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>
      <!-- // gmaps services section end -->
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
