:host ::ng-deep .mr-50, .mx-50 {
  margin-right: .5rem!important;
}
:host ::ng-deep .mr-25, .mx-25 {
  margin-right: .25rem!important;
}
:host ::ng-deep .pr-50, .px-50 {
  padding-right: .5rem!important;
}
:host ::ng-deep .content-right .email-app-list-wrapper .email-app-list .email-user-list .users-list-wrapper li {
  border-top: 1px solid #E4E5EC !important;
}
:host ::ng-deep .app-content .content-right {
  width: calc(100% - 300px) !important;
  background-color: #fff;
}
@media (max-width: 768px){
  .app-content .content-right {
    width: calc(100% - 0px) !important;
    background-color: #fff;
  }
}
:host ::ng-deep .ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  position: absolute;
}
:host ::ng-deep .content-right .email-app-details .email-scroll-area {
   overflow-x: hidden !important;
}
:host ::ng-deep .d-block {
 text-align: left;
}
:host ::ng-deep .d-flex {
  display: flex!important;
}
:host ::ng-deep .btn-link {
  font-weight: 400;
  color:#6b6f82 !important;
  text-decoration: none;
}
:host ::ng-deep .email-detail-head .collapse-header .card-header {
   background-color: transparent !important;
}

:host ::ng-deep .py-1 {
  background-color: #f4f5fa;
}
:host ::ng-deep .ps {
  overflow: hidden!important;
}
:host ::ng-deep .content.app-content {
  overflow-y: hidden !important;
}

:host ::ng-deep  .tagDropdown {
  transform: translate3d(-118px, -16px, 0px) !important; 
  top: 8px;
 }
 @media (max-width: 768px){ 
   .tagDropdown {
  transform: translate3d(-98px, -64px, 0px) !important; 
  top: 8px;
 }
}
:host ::ng-deep  .listDropdown {
  transform: translate3d(-123px, 30px, 0px) !important; 
  }
 @media (max-width: 768px){ 
   .listDropdown {
  transform: translate3d(-88px, -65px, 0px) !important; 
  top: 8px;
 }
}
:host ::ng-deep  .taglistDropdown {
  transform: translate3d(-123px, -8px, 0px) !important; 
  }
 @media (max-width: 768px){ 
   .taglistDropdown {
  transform: translate3d(-124px, -65px, 0px) !important; 
  top: 8px;
 }
}
 :host ::ng-deep  .dropdown .dropdown-menu .dropdown-item {
  padding: 10px 17px !important;
 }
:host ::ng-deep .bg-1{
  background-color: #666ee8;

}
:host ::ng-deep .badge {
  display: inline-block;
  padding: .35em .4em;
  font-size: 80%;
  text-align: center;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
:host ::ng-deep .badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}
:host ::ng-deep .show>.inboxDropdown {
  transform: translate3d(-118px, 30px, 0px) !important;
  }
  @media (max-width: 768px){
    .show>.inboxDropdown {
      transform: translate3d(-106px, -65px, 0px) !important;
      }
  }
  :host ::ng-deep  .app-content .sidebar .email-app-sidebar {
    width: 300px !important;
  }
:host ::ng-deep  .app-content .quill-wrapper .snow-container .emailtoolbar {
  float: right;
  margin-bottom: 12px;
 }
 :host ::ng-deep  .app-content .quill-wrapper .snow-container .send-btn {
  height: 38px;
 }
 :host ::ng-deep  .gradient-mint {
  background-image: linear-gradient(45deg,#28d094,#28d094)!important;
  width: 10px !important;
  height: 10px !important;
 }
 :host ::ng-deep  .gradient-primary{
  background-image: linear-gradient(45deg,#666ee8,#666ee8)!important;
  width: 10px !important;
  height: 10px !important;
 }
 :host ::ng-deep  .gradient-warning {
  background-image: linear-gradient(45deg,#ff9149,#ff9149)!important;
  width: 10px !important;
  height: 10px !important;
 }
 :host ::ng-deep  .gradient-danger {
  background-image: linear-gradient(45deg,#ff4961,#ff4961)!important;
  width: 10px !important;
  height: 10px !important;
 }
 :host ::ng-deep  .gradient-info {
  background-image: linear-gradient(45deg,#1e9ff2,#1e9ff2)!important;
  width: 10px !important;
  height: 10px !important;
 }
 :host ::ng-deep  .list-group .list-group-messages :hover {
  color: #0c84d1 !important;
}
:host ::ng-deep .mr-75, .mx-75 {
  margin-right: .75rem!important;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.7rem !important; 
}

@media (max-width: 768px){
  .list-inline-item:not(:last-child) {
    margin-right: 0.25rem !important; 
  }
}
