<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="row flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 m-0">
              <div class="card-header border-0">
                <div class="card-title text-center">
                  <div class="p-1"><img src="../../../../../assets/images/logo/logo-dark.png" alt="branding logo"></div>
                </div>
                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Login with
                    Modern</span></h6>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <form class="form-horizontal form-simple">
                    <div class="form-group position-relative has-icon-left mb-0">
                      <input type="text" class="form-control" id="user-name" placeholder="Your Username" required>
                      <div class="form-control-position">
                        <i class="feather ft-user"></i>
                      </div>
                    </div>
                    <div class="form-group position-relative has-icon-left">
                      <input type="password" class="form-control" id="user-password" placeholder="Enter Password"
                        required>
                      <div class="form-control-position">
                        <i class="la la-key"></i>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6 col-12 text-center text-sm-left">
                        <div class="custom-control custom-checkbox mb-1">
                          <input type="checkbox" class="custom-control-input" name="remember-me" id="remember-me">
                          <label class="custom-control-label" for="remember-me">Remember Me</label>
                        </div>
                      </div>
                      <div class="col-sm-6 col-12 text-center text-sm-right"><a [routerLink]="['/authentication/recoverPassword']"
                          class="card-link">Forgot Password?</a></div>
                    </div>
                    <button type="submit" [routerLink]="['/dashboard/sales']" class="btn btn-info btn-block"><i class="feather ft-unlock"></i>Login</button>
                  </form>
                </div>
              </div>
              <div class="card-footer">
                <div class="">
                  <p class="float-xl-left text-center m-0"><a [routerLink]="['/authentication/recoverPassword']" class="card-link">Recover
                      password</a></p>
                  <p class="float-xl-right text-center m-0">New to Moden Admin? <a [routerLink]="['/authentication/registerSimple']"
                      class="card-link">Sign Up</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
